.cache/
.fabric/
.vscode/
ModTranslations/
XaeroWaypoints/
XaeroWaypoints_BACKUP*/
XaeroWorldMap/
backup/
config/voicechat/username-cache.json
config/inventoryprofilesnext/*
data/
irisUpdateInfo.json
knownkeys.txt
kubejs/assets/ponderjs_generated/
kubejs/config/probejs.json
kubejs/exported/
kubejs/jsconfig.json
kubejs/probe/
local/
logs/
mods/*.jar
mods/*.jar.disabled
modernfix/
options.txt
patchouli_data.json
rhino.local.properties
saves/
servers.dat
usercache.json
usernamecache.json
